* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button{
    border: 0;
    padding: 0;
    cursor: pointer;
}

/* Container types */

.body{
    height: 100vh;
    background-image: url('images/background.svg');
    background-size: auto;
    background-repeat: repeat;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
}

.content-container{
    height: 100%;
    background-color: #EEE;
    border: 1px solid #333;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.left-container{
    flex-grow: 1;
    box-sizing: border-box;
    min-width: 200px;
}

*::-webkit-scrollbar{
    display: none;
}

/* Border */

.border{
    border: 1px solid #777;
}

.dark-border{
    border: 1px solid #333;
}

/* Image/icon containers */

.profile{
    width: 70%;
    aspect-ratio: 1/1;
    background-image: url('images/photo.png');
    background-size: contain;
}

.interface{
    width: 50%;
    aspect-ratio: 1.3045/1;
    background-image: url('images/long.png');
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 140px;
    height: fit-content;
}

.fig1{
    width: 50%;
    min-width: 180px;
    aspect-ratio: 1/1;
    background-image: url('images/214.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.fig2{
    width: 50%;
    min-width: 180px;
    aspect-ratio: 1/1;
    background-image: url('images/215.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.fig3{
    width: 40%;
    min-width: 160px;
    aspect-ratio: 1/1;
    background-image: url('images/216.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

img {
    width: 100%;
    height: auto;
}

.separator{
    width: 100%;
    height: 0px;
    border: 0.5px solid #333;
}

.active{
    color: #333 !important;
    text-decoration: underline;
}




/* Misc. Containers/Classes */

.right-container{
    max-width: 70%;
    flex-grow: 4;
    box-sizing: border-box;
    overflow: auto;
    margin-top: -28px;
    margin-bottom: -28px;
}

.scroll-window{
    height: fit-content;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    box-sizing: border-box;
}

.skillbox{
    border: 1px solid #777;
    margin-right: 10px;
    margin-bottom: 10px;
    width: fit-content;
}

/* Text types */

.title{
    font-family: "Inter", sans-serif;
    color: #333;
    font-size: 50px;
}

.subtitle{
    font-family: "Inter", sans-serif;
    color: #333;
    font-size: 35px;
}

.text{
    font-family: "Inter", sans-serif;
    color: #777;
    font-size: 15px;
}

.bodytext{
    font-family: "Inter", sans-serif;
    color: #777;
    font-size: 10px;
}


/* Gaps and Padding */

.padding{
    padding: 28px;
    box-sizing: border-box;
}

.small-padding{
    padding: 20px;
    box-sizing: border-box;
}

.tiny-padding{
    padding: 10px;
    box-sizing: border-box;
}

.category-gap{
    padding-top: 80px;
}

.large-vertical-gap{
    height: 40px;
    width: 100%;
}

.large-horizontal-gap{
    width: 40px;
    height: 100%;
}

.horizontal-gap{
    width: 30px;
    height: 100%;
}

.vertical-gap{
    height: 30px;
    width: 100%;
}

.small-vertical-gap{
    height: 20px;
    min-height: 20px;
    width: 100%;
}

.small-horizontal-gap{
    width: 20px;
    min-width: 20px;
    height: 100%;
}

.tiny-vertical-gap{
    height: 10px;
    width: 100%;
}

.tiny-horizontal-gap{
    width: 10px;
    height: 100%;
}

/* List */

ul {
    font-size: 15px;
    font-family: "Inter", sans-serif;
    color: #777;
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style:none;
    position: relative;
    padding: 5px 0px
}

ul li:before {
    position: absolute;
    content: '';
    width: 16px;
    height: 18px;
    margin-left: -23px;
    line-height: inherit;
    background:url('./images/arrow.svg') 50% 50% no-repeat;
    background-size: contain;
    list-style:none;
}

li{
    margin-left: 23px;
}













@media only screen and (max-width: 1200px) {

    .fig1{
        width: 70%;
        min-width: 120px;
        aspect-ratio: 1/1;
        background-image: url('images/214.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .fig2{
        width: 70%;
        min-width: 120px;
        aspect-ratio: 1/1;
        background-image: url('images/215.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .fig3{
        width: 70%;
        min-width: 120px;
        aspect-ratio: 1/1;
        background-image: url('images/216.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    /* Misc. Containers/Classes */

    .right-container{
        max-width: 70%;
        flex-grow: 4;
        box-sizing: border-box;
        overflow: auto;
        margin-top: -18.67px;
        margin-bottom: -18.67px;
    }

    .scroll-window{
        height: fit-content;
        width: 100%;
        padding-top: 67px;
        padding-bottom: 67px;
        box-sizing: border-box;
    }

    .skillbox{
        border: 1px solid #777;
        margin-right: 6.7px;
        margin-bottom: 6.7px;
        width: fit-content;
    }

    /* Text types */

    .title{
        font-family: "Inter", sans-serif;
        color: #333;
        font-size: 33.3px;
    }

    .subtitle{
        font-family: "Inter", sans-serif;
        color: #333;
        font-size: 21.7px;
    }

    .text{
        font-family: "Inter", sans-serif;
        color: #777;
        font-size: 10px;
    }

    .bodytext{
        font-family: "Inter", sans-serif;
        color: #777;
        font-size: 6.7px;
    }


    /* Gaps and Padding */

    .padding{
        padding: 18.7px;
        box-sizing: border-box;
    }

    .small-padding{
        padding: 6.7px;
        box-sizing: border-box;
    }

    .tiny-padding{
        padding: 6.7px;
        box-sizing: border-box;
    }

    .category-gap{
        padding-top: 53.3px;
    }

    .large-vertical-gap{
        height: 26.7px;
        width: 100%;
    }

    .large-horizontal-gap{
        width: 26.7px;
        height: 100%;
    }

    .horizontal-gap{
        width: 20px;
        height: 100%;
    }

    .vertical-gap{
        height: 20px;
        width: 100%;
    }

    .small-vertical-gap{
        height: 13.7px;
        min-height: 13.3px;
        width: 100%;
    }

    .small-horizontal-gap{
        width: 13.7px;
        min-width: 13.3px;
        height: 100%;
    }

    .tiny-vertical-gap{
        height: 6.7px;
        width: 100%;
    }

    .tiny-horizontal-gap{
        width: 6.7px;
        height: 100%;
    }

    /* List */

    ul {
        font-size: 10px;
        font-family: "Inter", sans-serif;
        color: #777;
        margin: 0px;
        padding: 0px;
    }

    ul li {
        list-style:none;
        position: relative;
        padding: 3.5px 0px
    }

    ul li:before {
        position: absolute;
        content: '';
        width: 10px;
        height: 11.5px;
        margin-left: -14px;
        line-height: inherit;
        background:url('./images/arrow.svg') 50% 50% no-repeat;
        background-size: contain;
        font-size: 10px;
        list-style:none;
    }

    li{
        margin-left: 14px;
    }
}